.home {
  width: 100%;
  overflow: hidden;
}

.home .hero {
  width: 100%;
  position: relative;
  z-index: 0;
  top: -130px;
}

.home .hero img {
  width: 100%;
  object-fit: cover;
}

.home .hero .inner {
  width: 1100px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #31354366;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .hero .inner .content {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home .hero .inner .content h2 {
  color: #fff;
  font-size: 45px;
}

.home .hero .inner .content p {
  color: #fff;
  font-size: 24px;
}

.home .hero .inner .form {
  width: 550px;
}

.home .hero .inner .form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home .hero .inner .form form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home .hero .inner .form form fieldset label {
  color: #fff;
  font-size: 20px;
}

.home .hero .inner .form form fieldset .fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.home .hero .inner .form form fieldset .fieldset .input-field {
  width: 230px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.home .hero .inner .form form fieldset .fieldset .input-field.long {
  width: 250px;
}

.home .hero .inner .form form fieldset .fieldset .input-field input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 4px;
}

.home .hero .inner .form form fieldset .fieldset .input-field span,
.home .hero .inner .form form fieldset .rotate span {
  color: gray;
}

.home .hero .inner .form form fieldset .fieldset .rotate {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .hero .inner .form form fieldset .fieldset button {
  width: 250px;
  height: 45px;
  border: none;
  outline: none;
  color: #fff;
  background: #e24704;
  border-radius: 4px;
  font-size: 18px;
}

.home .destinations {
  width: 100%;
  margin-top: -20px;
  overflow: hidden;
}

.home .destinations .inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.home .destinations .inner .heading-btn {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .destinations .inner .heading-btn h4 {
  font-size: 24px;
}

.home .destinations .inner .heading-btn button {
  border-radius: 4px;
  border: 1px solid #000;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.home .destinations .inner .destination-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home .destinations .inner .destination-list .destination {
  margin-bottom: 40px;
}

.home .destinations .inner .destination-list .destination .content {
  border: 1px solid hsla(0, 0%, 0%, 0.27);
  border-top: none;
}

.home .destinations .inner .destination-list .destination .content .locations {
  margin-bottom: 10px;
}

.home
  .destinations
  .inner
  .destination-list
  .destination
  .content
  .locations
  .loc1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.home
  .destinations
  .inner
  .destination-list
  .destination
  .content
  .locations
  .loc1
  h4 {
  font-size: 24px;
}

.home
  .destinations
  .inner
  .destination-list
  .destination
  .content
  .locations
  .loc2 {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.home
  .destinations
  .inner
  .destination-list
  .destination
  .content
  .locations
  .loc2
  p {
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.68);
}

.home .destinations .inner .destination-list .destination .content .occ-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-top: 1px solid hsla(0, 0%, 0%, 0.27);
}

.home
  .destinations
  .inner
  .destination-list
  .destination
  .content
  .occ-price
  p {
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.68);
}

.home
  .destinations
  .inner
  .destination-list
  .destination
  .content
  .occ-price
  p
  span {
  color: #e24704;
  font-size: 24px;
}

.home .destinations .inner .pagination {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.home .destinations .inner .pagination .indicators {
  display: flex;
  gap: 5px;
}

.home .destinations .inner .pagination .indicators div {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .destinations .inner .pagination .indicators div.active {
  background: #000;
  color: #fff;
}

.home .destinations .inner .pagination .prev-next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home .destinations .inner .pagination .prev-next div {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.home .advantages {
  width: 100%;
  overflow: hidden;
  background: #890909;
  padding: 30px 0;
  margin-top: 50px;
}

.home .advantages .inner {
  width: 90%;
  margin: 0 auto;
}

.home .advantages .inner h4 {
  color: #fff;
  font-size: 32px;
}

.home .advantages .inner .advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.home .advantages .inner .advantages-list .advantage {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.home .advantages .inner .advantages-list .advantage img {
  width: 120px;
}

.home .advantages .inner .advantages-list .advantage hr {
  width: 150px;
  margin: 0 auto;
  border: 1px solid #fff;
}

.home .advantages .inner .advantages-list .advantage p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.home .testimonies {
  width: 100%;
  overflow: hidden;
  margin: 50px 0;
}

.home .testimonies .inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home .testimonies .inner h4 {
  color: #000;
  font-size: 32px;
}

.home .testimonies .inner .testimonies-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.home .testimonies .inner .testimonies-list .testimony {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home .testimonies .inner .testimonies-list .testimony .content {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
